{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      .login,
      .image {
              min-height: 100vh;
            }

      .bg-image {
        background-image: url("{% static 'img/IMG2.png' %}");
        background-size: cover;
        background-position: center center;
      }

    </style>  


     <style>
      .navbar-custom {
        background-color: #7fb3d5; /* use your desired color value here */
      }
    </style>  
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Home'%}"><img src="{% static 'img/IMG2.png' %}" style="width:75px;" >   </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
              </li>

             {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="">{{request.user}}</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout_view' %}">logout</a>
                </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'singup' %}">sing up</a>
              </li>
          
            {% endif%}  

            </ul>
          </div>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top:10px;">

       
    {% if messages %}
      <ul class="messages">
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  <li >{{ message }}</li>
                </div>
        
              {% endfor %}
        </ul>
    {% endif %}


      <div class="row no-gutter">
          <!-- The image half -->
          <div class="col-md-6 d-none d-md-flex bg-image"></div>
  
  
          <!-- The content half -->
          <div class="col-md-6 bg-light">
              <div class="login d-flex align-items-center py-5">
  
                  <!-- Demo content-->
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-10 col-xl-7 mx-auto">
                              <h3 class="display-4">Login page</h3>
                              <p class="text-muted mb-4">Wellcome to nupco.</p>
                              <form method="POST">
                                   {% csrf_token %}
                                  <div class="form-group mb-3">
                                      <input id="inputEmail" type="email" name="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                  </div>
                                  <div class="form-group mb-3">
                                      <input id="inputPassword" type="password" name="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                  </div>
                                  <div class="custom-control custom-checkbox mb-3">
                                      <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                      <label for="customCheck1" class="custom-control-label">Remember password</label>
                                  </div>
                                  <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                             
                              </form>
                          </div>
                      </div>
                  </div><!-- End -->
  
              </div>
          </div><!-- End -->
  
      </div>
   </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>